# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Operating System
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/

# Environment Variables
.env
.env.local
.vercel
